.dropdown-menu {
    position: absolute;
    display: none;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--color-3);
    padding: 8px 16px;
    top: 60px;
    border-radius: 1.25rem;
    z-index: 2;
    text-align: left;
}

li[data-dropdown] {
    position: relative;

}

li[data-dropdown]:hover .dropdown-menu {
    display: block;
    justify-content: start;
}