:root {
    --color-0: #444444;
    --color-1: #5FC3FF; 
    --color-2: #222222;
    
}


.light-color {
    color: var(--color-0)
}


.primary-color {
    color: var(--color-1)
    
    
}

.secundary-color {
    color: var(--color-2)
    
}